* {
    font-family: Arial, Helvetica, sans-serif;
}



table {
    border: 3px solid red;
    width: calc(100% - 20px);
    margin: 10px;
    overflow-x: scroll;
}

td, th, tr {
    border: 3px solid black;
    padding: .5rem;
}

.store-location, .totals, .heading, .total {
    font-weight: bold;
}

.empty {
    border: none;
}
